BACKEND_PREFIX="/api" # by default prefix is not subtracted from the request
BACKEND_REMOTE="domain or ip with protcol here, without leading slash"
BACKEND_LOCAL="http://localhost:123123123123" # <= change port/proto here

